@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}

.sign-up-container {
  padding: 2rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  min-width: 30rem;
  box-shadow: #fff 0px 5px 15px;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.form-input {
  width: 100%;
  border: 1px solid;
  border-radius: 4px;
  padding: 0.5rem;
}

.form-input:focus-visible {
  outline: none;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.submit-btn {
  width: 100%;
  padding: 0.5rem;
  background: white;
  color: black;
  border-radius: 4px;
  font-weight: bold;
}

.submit-btn:hover {
  opacity: 50%;
}

.userInfo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.username {
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.signout-btn {
  background-color: white;
  color: black;
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}

.signout-btn:hover {
  opacity: 50%;
}

.todo-container {
  width: 70%;
  margin: 0 auto;
  padding: 2rem 0rem;
}

.tabContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border-bottom: 1px solid #3f3f3f;
  padding-bottom: 1rem;
}

.tab-btn {
  cursor: pointer;
  background: #3f3f3f;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
}

.selected-tab {
  background: white;
}

.box {
  margin-top: 2rem;
  border: 1px solid;
  padding: 2rem 1rem;
  border-radius: 8px;
}

.tab-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
